body {
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

h4 {
    margin: 12px 0 6px 0;
}

#header {
    height: 70px;
    background-color: #659DBD;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#header * {
    margin: 0 15px;
}

.fa {
    line-height: 40px;
}

.select2 {
    margin: 20px 5px;
}

#mapcont {
    display: flex;
    flex-grow: 1;
    background-color: #ffedc5;
}

.select2-dropdown {
    z-index: 5000;
}

.control-group {
    margin: 15 0px;
}

#processions img {
    padding: 5px;
}

/* Calendar */
div.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px;
}

div.month {
    text-align: right;
    padding: 5px 10px;
    background-color: #d53e4f;
    color: white;
}

ul.week {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    margin: 0;
    padding: 2px 0;
}

.week li {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    list-style-type: none;
    text-align: center;
}

.bar:hover {
    fill: orange;
}

.village_card {
    background-color: #fff3cb;
    border: solid black;
    border-radius: 10px;
    list-style-type: none;
    margin: 15px 0;
}

.village_card ul {
    padding-left: 20px
}

.calendar_waffle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.group {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    margin: 0 0.5rem;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin: 5px;
}

.text {
    position: absolute;
    transform: translate(5%, -100%);
    background-color: rgb(98, 175, 252);
    padding: 0 10px;
}

.date {
    margin: 3px;
}

.tooltip {
    position: absolute;
}
