body {
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

h4 {
    margin: 12px 0 6px 0;
}

#header {
    height: 70px;
    background-color: #659DBD;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#header * {
    margin: 0 15px;
}

.fa {
    line-height: 40px;
}

.select2 {
    margin: 20px 5px;
}

#mapcont {
    display: flex;
    flex-grow: 1;
    background-color: blue;
}
