.site-container {
	display: flex;
	flex-flow: column;
	align-items: center;

}

.site-container section {
	margin: 100px 0;
	max-width: 1000px;
	width: 50%;
	font-family: 'Roboto', sans-serif;
	margin: 35vh 0 10vh 0;
	background-color: rgba(112, 193, 179, 0.9);
}

.site-container .title {
	max-width: 50%;
	background-color: #247BA0;
	padding: 25px;
}

h5 {
	font-weight: normal;
	line-height: 200%;
}

.credits {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0.8em;
	margin-top: 30px;
	padding-top: 5px;
	border-top: 2px solid rgba(70, 70, 70, 0.5);
}

section p {
	margin: 15px;
}

#MainMap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	z-index: -10;
}
