/* Header */

header {
	display: flex;
	width: 100%;
	order: 0;
	justify-content: space-between;
	align-items: center;
	background-color: #247BA0;
	font-family: 'Roboto', sans-serif;
}

header a,
header a:link,
header a:visited,
header a:hover,
header a:active {
	color: #ffffff;
	text-decoration: none;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	vertical-align: baseline;
}

header ul {
	font-size: 15px;
}

header li {
	padding: 0 15px;
	display: inline-block;
}

.zh {
	font-family: 'Ma Shan Zheng', cursive;
}

#masthead {
	list-style: none;
	font-weight: 500;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
	padding: 10px 20px;
}
